.backimg{
background-image:url(backdiv.jpg);height:400px;width:100%;background-size:cover;
padding-top:100px;
}
.backimg img {
left:150px;
}
.backimg2{
background-image:url(s_image.jpg);height:300px;width:100%;background-size:cover;
padding-top:90px;
}
 .gallery {
  margin: 5px;
  float: left;
  width: 180px;
  left :80px;
}
.gallery img{
                  width:100px;
                  height:80px;

                }
 .gallery desc {
  
  padding-left:80px;
  text-align: center;
  float:left;
  left:50px;
}

table{
padding-left:120px;

table th{
  text-align:center;
         }

}
.contactform{
background-image:url(c_image.jpg);
width:100%;
height:300px;
background-size:cover;
            }
.name{
position:relative;
margin-top:30px;
padding:0 22px;
width:270px;
height:30px;
left:100px;
line height:40px;
opacity:20%;
border:1px solid white;
}
.email{
position:relative;
margin-top:30px;
padding:0 22px;
width:270px;
height:30px;
left:300px;
line height:40px;
opacity:20%;
border:1px solid white;
}
.message{
position:relative;
margin-top:30px;
padding:0 22px;
width:790px;
height:200px;
left:100px;
line height:40px;
opacity:20%;
border:1px solid white;


}







}











table2 {
padding-left:300px;
padding-top:100px;
margin:10px;
left:150px;
top:50px;
}

 table img{
width:200px;
height:120px;

}
