.backimg{
background-image:url(backdiv.jpg);height:400px;width:100%;background-size:cover;
padding-top:100px;

}
.backimg2{
background-image:url(c_image.jpg);height:300px;width:100%;background-size:cover;
padding-top:90px;
}
.gallery {
  margin: 5px;
  float: left;
  width: 180px;
}
.desc {
  margin:20px;
  padding-top:20px;
  padding-left: 35px;
  text-align: center;
}
main{
margin-left:120px;


}
.box{
display:;
width:100%;
padding:10px;
float:left;
width:180px;
}
img{
width:100%;
float:left;
}
